body {
    margin: 0;
    padding: 0;
    background: url(http://prime-mc.ru/console/templates/assets/images/bg.jpg) fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
html{
overflow:hidden;
}
.main .console {
    width: 676px;
    margin: 0 auto;
    z-index: 1;
    margin-top: 200px;
}
.noaccess {
    width: 100%;
    padding-top: 1em;
	    min-width: 680px;
    height: 100%;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.35);
    z-index: 1;
    font-weight: bold;
    line-height: 5;
    font-family: sans-serif;
    text-align: center;
    background: rgba(0, 0, 0, 0.32);
    position: fixed;
}
.command {
    float: right;
    margin-top: -35px;
    position: relative;
    background: #053a17;
    color: #FFF;
    height: 19px;
    padding: 8px 50px;
    left: 0px;
}
.noaccess .fa {
    font-size: 10em;
    margin-top: 80px;
}
.blur {
    background: url(http://prime-mc.ru/console/templates/assets/images/bgblur.png) fixed;
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
}
.offline {
    filter: blur(2px);
}
#console {
    font-family: sans-serif;
    height: 317px;
    font-size: 13px;
    position: absolute;
    color: #187228;
    font-weight: bold;
    overflow: hidden;
    padding-bottom: 0;
    top: 20px;
    left: 10px;
}
.add {
    border: solid #63b4fb 9px;
    margin-top: -31px;
    background: #000;
    z-index: 9999999;
    position: absolute;
    height: 35px;
    width: 657px;
    border-top: 0;
}
a {
    text-decoration: none;
    color: #FFF;
    background: rgba(3, 72, 153, 0.64);
    padding: 11px;
}
.add input {
    width: 660px;
    padding: 10px;
    margin-left: -3px;
    border-left: solid #63b4fb !important;
    box-sizing: border-box;
    background: #000000;
    border: 0;
    color: #FFF;
    outline: none;
    text-shadow: 0px 0px 1px #000;
}
.footer {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background: rgba(78, 201, 242, 0.54);
}
.consolestart {
    width: 90px;
    cursor: pointer;
    position: absolute;
    text-align: center;
    height: 50px;
    top: 10px;
    background: url(http://prime-mc.ru/console/templates/assets/images/cmdstart.png);
    left: 18px;
    background-size: 53px 53px;
    transform: scale(1.5);
    background-position: center;
    background-repeat: no-repeat;
}
.consolestart span {
    text-align: center;
    color: #FFF;
    font-size: 8px;
    position: relative;
    letter-spacing: 1px;
    top: 42px;
    text-shadow: 1px 1px 1px #000;
    font-family: sans-serif;
}
.consoleClose {
    width: 45px;
    cursor: pointer;
    height: 20px;
    float: right;
    position: relative;
    top: 21px;
    left: -9px;
    margin-top: -20px;
}
.consoleClose:hover {
    box-shadow: 0px 2px 4px #c75050;
}